/* Class'lar */
.text-brown{
    color: brown;
    }
.center{
    text-align: center;
}
.link{
    padding: 0 5px;
}
.text-orange{
    color: darkorange;
}

.text-purple{
    color: darkorchid;
}


.ul{
    list-style-type: none;
 
 }




/* İd'ler */

